* {
    box-sizing: border-box;
    font-family: "Oldenburg", Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* border: solid rgb(111, 0, 255); */
    border-bottom: solid #B3D9FF 5px;
    background-color: #B3FFB3;
    padding: 1rem;
    position: sticky;
    top: 0;
}

body {
    margin: 0;
}

main {
    min-height: 100vh;
}

h1 {
    /* border: solid red; */
    color: black;
    font-size: 55px;
    display: flex;
    margin: 0;
}

h2 {
    font-size:  35px;
}

header {
    display: flex;
    justify-content: space-between;
    /* border: solid rgb(0, 4, 255); */
}

header nav {
    /* border: solid green; */
    font-size: 2rem;
    position: relative;
    top: 1rem;
}
header nav a {
    padding: 0 1.5rem;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    text-decoration: underline;
}

/* header nav a:active, a:focus {
    
} */


#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero p {
    max-width: 25%;
}

footer {
    display: sticky;
    background-color: #B3FFB3;
    border-top: solid #B3D9FF 5px;
    width: 100%;
    height: 20vh;
  }

footer section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

footer form div {
    margin-bottom: 1rem;
}

footer button {
    font-size: 18px;
}

#email {
    position: relative;
    left: 3px;
}

