* {
    font-family: "Oldenburg", Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #B3FFB3;
    padding: 1rem;
    border: solid rgb(111, 0, 255);
    position: sticky;
    top: 0;
}

body {
    margin: 0;
}

main {
    min-height: 100vh;
}

h1 {
    color: black;
    font-size: 55px;
    border: solid red;
    display: flex;
    margin: 0;
}

h2 {
    font-size:  35px;
}

header {
    display: flex;
    justify-content: space-between;
    border: solid rgb(0, 4, 255);
}

header nav {
    border: solid green;
    font-size: 2rem;
    position: relative;
    top: 1rem;
}
header nav a {
    padding: 0 1.5rem;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero p {
    max-width: 25%;
}

footer section {
    display: sticky;
    background-color: #B3FFB3;
    border-top: solid 5px #B3D9FF;
    width: 100%;
  }
